body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Section 1: Header */

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 16px
}

.header p{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* Section 2: Hero */

.hero{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 16px 0px 60px;
}

.hero-content{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
}


.hero-content h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    text-wrap: wrap;
    margin: 0;
    padding: 0;
}

.hero-content p{
    margin: 0;
}

.hero-content button{
    align-self: flex-start;
}

/* Section 3: Carousel */

.carousel{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel h1{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.carousel-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card{
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 6px;
}

.carousel-container p {
    max-width: 200px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

/* Section 4: Testimony */

.testimony{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.testimony h3{
    flex-wrap: wrap;    
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    text-align: center;
}

.testimony p {
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-right: 16px;
}

/* Section 5: CTA */

.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.cta-content{
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Space between text and button */
    align-items: center; /* Vertically center-align items */
    background-color: #2979ff; /* Blue background */
    padding: 16px 32px; /* Add space inside the section */
    border-radius: 8px; /* Rounded corners */
    color: white; /* White text color */
}

.cta-text {
    max-width: 70%; /* Prevent content from taking up too much space */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

}

.cta h3{   
    margin: 8px 0 0px; /* Add space below the heading */
    font-size: 24px; /* Adjust font size */
    font-weight: bold; /* Make the heading bold */
}

.cta p{
    margin: 0;
}

.cta a{
    background-color: #3882F6;
    border: 3px solid white;
    padding: 8px 16px;
    border-radius: 10px;
    display: flex;
    align-self: center;
}

   
/* Universal */

p,a{
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header,.footer,.hero{
    background-color: #1F2937;
}

.hero-content a {
    background-color: #3882F6;
    border: 2px solid #3882F6;
    color: #E5E7EB;
    padding: 8px 16px;
    border-radius: 10px;
    display: flex;
    align-self: flex-start;
}

img {
    border-radius: 6px;
}